body{
    margin: 0 5%;
    border: 5px solid blue;
    padding: 5px; 
    background-color: aquamarine;
    line-height: 1.5em;
    font-family:KaiTi;
    /* font-family:FangSong_GB2312; */
    font-size: 1.5em;
    }        

div{
    margin-bottom: 2px;
    border: 2px solid yellow;
    padding: 2px;
    /* background-color: wheat; */
}

p{

}

span{
    margin-right: 1em;
    font-weight: bold;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;

}

.zong{
    background-color: rgba(100, 200, 10, 0.4);
}

.daohang{
    position: fixed;
    margin-top: 1%;
    width: 25%;
    height: 90%;
    overflow-y: auto;
}
.daohang details{
    background: #f5f5f5;
    padding: 1px;
    border-radius: 12px;
    margin-bottom: 3px;
}
.daohang summary{
    cursor: pointer;
    font-weight: bold;
    padding: 0.3rem;
}
.daohang ul{
    margin: 0.5rem 0 0 1.5rem;
}

.neirong{
    margin-left: 30%;
    padding-left: 5%;
}